@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

body {
    background: #111;
}
body, html {
    font-family: 'Jost', sans-serif;
}
.link {
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 8%;
    padding: 0 20px;
    border-bottom: 1px solid;

}
.header-logo {
    border: red solid;
    width: 4%;
    margin: 10px 0;
}
.header-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
}
.header-nav__item {
    margin-right: 40px;
}
.header-nav__link {
    color: #fff;
    font-size: 21px;
}
.header-social__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.header-social__link {
    display: block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
}
.header-social__vk {
    background-image: url(../images/vk.svg);
}
.header-social__lin {
    background-image: url(../images/vk.svg);
}
.header-social__git {
    background-image: url(../images/vk.svg);
}
.main {
    height: 100%;
}
.main-home {
    height: 100%;
}
.main-home__container {
    text-align: center;
}