@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800&family=Jost:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}
body {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 32px;
    background-color: #111A20;
}
.inter {
    font-family: 'Inter', sans-serif;
}
.link {
    text-decoration: none;
}
.header-container {
    background-color: #17232B;
    border-bottom: 1px solid;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1281px;
}
.header-logo {
    border: red solid;
    width: 4%;
    margin: 0;
}
.header-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
}
.header-nav__item {
    margin-right: 40px;
}
.header-nav__link {
    color: #fff;
    font-size: 20px;
}
.header-nav__link:hover {
    color: #FFA97A;
}
.header-social__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding-left: 10px;
}
.header-social__item {
    width: 48px;
    height: 48px;
}
.page {
    max-width: 602px;
    margin: 0 auto;
}
.main {
    margin-top: 81px;
}
.main-home {
    display: flex;
    flex-direction: column;
    height: 550px;
    gap: 20px;
}
.main-home__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.main-home__welcome, .main-home__name, .main-home__speciality {
    color: #fff;
    margin: 0;

}
.main-home__welcome {
    font-size: 17px;
    letter-spacing: 0.4px;
}
.main-home__name {
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 2.2px;
}
.main-home__speciality {
    font-size: 15px;
    letter-spacing: 0.6px;
    color:#FFA97A;
}
.main-home__btns {
    display: flex;
    justify-content: space-between;
    padding-left: 138px;
    padding-right: 138px;
}
.main-home__link {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 20px;
}
.toabout {
    background-color: #FFA97A;
    color: #293241;
}
.toabout:hover {
    color: #692602;
    background-color: #d38c66;
}
.cv {
    color: #fff;
    border: #FFA97A 1px solid;
}
.cv:hover {
    color: #FFA97A;
}